<template name="userProfile">
  <div class="template-user">
    <div class="page-header">
      <h1>Checking out the User Profile for {{this._id}}</h1>
    </div>

    <ul class="list-group">
        {{#with profile}}
          <li class="list-group-item">
            {{ firstName }} &nbsp; {{ lastName }} &nbsp; <span class="label label-default">{{ ../_id }}</span>
            <span class="label label-default pull-right">He is {{#if ../isFriend}} a friend {{else}} not a friend {{/if}}</span>
          </li>
          <li class="list-group-item">
            Email is: {{../emails.[0].address}}
          </li>
          <li class="list-group-item">
            <button type="submit" class="btn btn-success" id="addFriend" data-id={{../_id}}>Add friend</button>
            <button type="submit" class="btn btn-danger" id="removeFriend" data-id={{../_id}}>Remove friend</button>
          </li>
        {{/with}}
    </ul>
  </div>
</template>
